<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="userDao" class="springframework.bean.UserDao"
          init-method="initDataMethod"
          destroy-method="destroyDataMethod"></bean>
    <bean id="userService" class="springframework.bean.userService">
        <property name="uId" value="10001"></property>
        <property name="userDao" ref="userDao"></property>
        <property name="location"  value="深圳"></property>
        <property name="company" value="腾讯"></property>
    </bean>
</beans>